{% extends "manager/index.html" %}
{% block title%}Change your password{% endblock %}
{% block content %} 

{% load crispy_forms_tags %}


<!--Login--> 
{% if user.is_authenticated and not request.user|is_demo %}
<div class="container-md" align="middle">
    <br>
  <h1>Change your password</h1>
  <br>
  <form method="POST">
    {% csrf_token %}
    {{ change_password_form|crispy }}
    <br>
    <button class="btn btn-secondary" type="submit">Change!</button>
    <br>
  </form>
</div>    
{% else %}
<div class="alert alert-danger alert-dismissible fade show" role="alert" id="message_container">
  You have no permission to do that.
  <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</div>
{% endif %}
{% endblock %}