{% if request.user|is_admin %}
{% load crispy_forms_tags %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}
   <div class="modal-header">
      <h5 class="modal-title">Edit the teacher</h5>
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body {% if form.errors %}invalid{% endif %}">
      {% comment %} <form method="POST"> {% endcomment %}
        {% csrf_token %}
        <div class="row">
          <div class="col">
            {{ form.first_name|as_crispy_field }}
            {{ form.last_name|as_crispy_field }}
          </div>
          <div class="col">
            {{ form.class_supervised|as_crispy_field }}
            {{ form.subjects_taught|as_crispy_field }}
          </div>
        </div>
    </div>
  
    <div class="modal-footer">
      <button type="submit" class="btn btn-info">Edit!</button>
      <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
    </div>
  
  </form>
  
  {% else %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id="message_container">
    You have no access to this site
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </div>
  {% endif %}