<div class="modal-header">
    <h3 class="modal-title">{{ object.subject }}</h3>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <div class="">
      Teacher: {{ object.teacher }}
    </div>
    <div class="">
      Substitution for: {{ object.prev_teacher }} 
    </div>
    <div class="">
      Period: {{ object.hour }} 
    </div>
    <div class="">
      Room: {{ object.classroom }}
    </div>
  </div>
  
  <div class="modal-footer">
    {% if request.user|is_admin %}
    <button type="button" class="delete_sub btn btn-danger" data-form-url="{% url 'manager:delete_sub' object.pk %}">Delete</button>
    <button type="button" class="edit_sub btn btn-info" data-form-url="{% url 'manager:edit_sub' object.pk %}">Edit</button>
    {% endif %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {

        $(".delete_sub").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
        });

        $(".edit_sub").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url")});
        });
    
    });
    </script>

