<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal-header">
    <h3 class="modal-title">{{ object.name }}</h3>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <div class="">
        Subject: {{ object.subject }}
    </div>
    <div class="">
     Date: <b>{{ object.date|date:"d-m-Y" }}</b>
    </div>
    <div class="">
        Description: {{ object.description }}
    </div>
  </div>
  
  <div class="modal-footer">
    {% if request.user|is_teacher %}
    <button type="button" class="delete_assignment btn btn-danger" data-form-url="{% url 'manager:delete_assignment' object.pk %}">Delete</button>
    <button type="button" class="edit_assignment btn btn-info" data-form-url="{% url 'manager:edit_assignment' object.pk %}">Edit</button>
    {% endif %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {

        $(".delete_assignment").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
        });

        $(".edit_assignment").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url")});
        });
    
    });
    </script>