<div class="modal fade" tabindex="-1" role="dialog" id="modal">
<div class="modal-dialog" role="document">
    <div class="modal-content"></div>
</div>
</div>
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    </div>
</div>
</div>

<div class="modal-header">
    <h3 class="modal-title">{{ object.teacher }}</h3>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="">
        Date: <b>{{ object.date|date:"d-m-Y" }}</b>
    </div>
    <div class="">
    Reason: {{ object.reason }}
    </div>
    <div class="">
        Description: {{ object.comments }}
    </div>
</div>

<div class="modal-footer">
    {% if request.user|is_admin %}
    <button type="button" class="delete_absence btn btn-danger" data-form-url="{% url 'manager:delete_absence' object.pk %}">Delete</button>
    <button type="button" class="edit_absence btn btn-info" data-form-url="{% url 'manager:edit_absence' object.pk %}">Change status</button>
    {% endif %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        $(".delete_absence").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
        });

        $(".edit_absence").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url")});
        });
    
    });
    </script>